<template>
  <div id="app">
    <Vault target="http://localhost:8000/upload" mode="grid" :toolbar="true" :autosend="true"/>
  </div>
</template>

<script>
import Vault from './components/Vault'

export default {
  name: 'app',
  components: {
    Vault
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  padding: 20px 100px;
}
</style>
